@import 'default.module.css';

@font-face {
    font-family: "Lekton";
    src: local("Lekton"),
     url('../static/fonts/Lekton-Bold.woff2') format('woff2'),
     url('../static/fonts/Lekton-Bold.woff') format('woff'),
     url("../static/fonts/Lekton-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 95%;
    height: 80vh;
    margin-top: 7vh;
    margin-left: 5%;
}

.leftWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    overflow: hidden;
}

.windowWrapper {
    margin-bottom: 10vh;
    padding-right: 20%;
    padding-left: 10%;
    position: relative;
}

.windowWrapper img {
    max-width: 100%;
}

.sakura {
    position: absolute;
    width: 30px;
    filter: brightness(1.3);
}

.sakura img {
    opacity: 0;
    transition: transform ease 0.4s;
}

.sakura:hover img {
    opacity: 1;
    transform: rotate(360deg);
}

.sakura img:not(:hover) {
    opacity: 0;
    transition: ease-in 5s;
}

.rightWrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding-right: 7%;

    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.rightWrapper::-webkit-scrollbar {
    display: none;
}

.item {
    border: 4px solid var(--grey);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: border ease-in 0.2s;
    padding: 24px 48px;
    margin-bottom: 32px;
}

.item .content {
    display: flex;
    flex-direction: column;
}

.item h2 {
    margin: 0;
}

.item .company {
    color: var(--grey);
}

.item .company a {
    text-decoration: underline;
    transition: 0.1s ease-in;
    font-size: 28px;
    color: var(--grey); 
}

.item .company a:hover {
    color: var(--pink);
}

.item .titleImg img {
    width: 16px;
    margin-left: 12px;
}

.item .icon {
    border: 2px solid var(--pink);
    padding: 4px;
    height: 24px;
    width: auto;
    color: var(--pink);
    opacity: 0.5;
    transition: 0.1s ease-in;
    display: flex;
    cursor: pointer;
    margin-right: 4px;
}

.item .iconL {
    border: 2px solid var(--pink);
    padding: 4px;
    height: 24px;
    width: 24px;
    color: var(--pink);
    opacity: 0.5;
    transition: 0.1s ease-in;
    margin-left: auto;
    margin-right: 4px;
    cursor: pointer;
}

.item:hover .icon,
.item:hover .iconL {
    opacity: 1;
}

.screw {
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: var(--grey);
    transition: ease-in 0.2s;
}

.item:hover {
    border-color: var(--black);
}

.item:hover .screw {
    background-color: var(--black);
}

.arrow {
    filter: brightness(1.2);
    mix-blend-mode: darken;
    width: 28px;
    display: flex;
    position: absolute;
    opacity: 0.25;
    transition: ease-in 0.2s;
    cursor: pointer;
}

.item:hover .arrow{
    opacity: 1;
    animation: shift 1s infinite;
}

@keyframes shift {
    0%,
    100% {
        transform: translateX(0px)
    }
    50% {
        transform: translateX(-4px)
    }
}

.item .images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: scroll;
    align-items: center;
    max-width: 100%;
    cursor: grab;
}

.item .images .i {
    margin: 2%;
    transition: ease-in 0.1s;
    min-width: 50%;
    display: flex;
    flex-direction: column;
}

.item .images .i a {
    min-width: 100%;
    text-align: center;
    margin: 12px 0;
    text-decoration: underline;
    color: var(--pink);
    transition: ease-in 0.1s;
}

.item .images .i a:hover,
.item .icon:hover,
.item .iconL:hover {
    filter: hue-rotate(180deg);
}

.item .images .i p {
    min-width: 100%;
    text-align: center;
    margin: 12px 0;
}

.item .images img {
    max-width: 100%;
    height: auto;
    width: auto;
    margin: 2%;
    transition: ease-in 0.1s;
}

.item .images .i:hover {
    transform: scale(1.05);
    border: 2px solid var(--grey);
}
.item .desc {
    color: var(--grey);
    text-align: center;
    min-width: 100%;
    transform: translateY(-12px);
}